@import url('https://fonts.googleapis.com/css?family=Lato:100,400,900');
.my-parallax {
    min-height: 80vh;
    background-image: url('splash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
}

.my-container {
    border: 1px solid #aaa;
    background-color: white;
    max-width: 400px;
    margin: 110px auto 10px auto;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    font-family: "Lato";
}

.my-container h1 {
    text-align: center;
}

.my-container ul {
    max-width: 200px;
    margin: auto;
}

.my-body {
    background-image: url('stripe_background.png');
}

.my-image-2 {
    display: block;
    max-width: 200px;
    margin: auto;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.my-face {
    display: block;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid #aaa;
    margin-top: -100px;
}

.my-highlight {
    color: orangered;
    text-decoration: overline;
    font-size: 4rem;
}

.my-body {
    background-color: #212121;
    font-family: 'lato';
}

.my-paragraph {
    font-size: 3rem;
    font-weight: 100;
    color: white;
}
.my-title {
    font-size: 4rem;
    font-weight: 900;
    color: white;
}

.my-subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: orangered;
    background-color: white;
}

.my-strong {
    text-shadow: 2px 2px 0 orangered;
}

.my-link {
    font-weight: 900;
    text-decoration: none;
    color: black;
}

.my-link:hover,
.my-link:active {
    color: white;
    background-color: black;
    padding-left: 1rem;
}

.my-link:visited {}

.my-hr1 {
    max-width: 300px;
    border: 10px solid orangered;
}

.my-hr2 {
    width: 20%;
    border: 10px solid orangered;
    margin-left: 0;
}